body{
    background-color: rgb(255, 196, 250);
}

.container{
    text-align: center;
    margin-top: 22px;
}
table{
    margin: auto;
}
input{
    border-radius: 21px;
    font-size: 34px;
    border: 2px solid rgb(51, 39, 7);
    height: 65px;
    width: 400px;

}
button{
    border-radius: 20PX;
    font-size: 30px;
    background-color: wheat;
    width: 86px;
    height: 90px;
    margin: 6px;
}
.calculator{
    border: 4px solid green;
    display: inline-block;
    background-color: rgb(15, 71, 13);
    padding: 23px;
    border-radius: 53px;
}
